.buttonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.buttonsContainer:has(:only-child) {
  margin-right: 180px;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgContainer > img {
    height: 80px;
    cursor: pointer;
}